services:
  devcontainer:
    build:
      context: ./.devcontainer/
      dockerfile: Dockerfile
      # network: host
    ports:
      - "8000:8000"
    volumes:
      - .:/workspace
    user: vscode
    command: /bin/sh -c "while sleep 1000; do :; done"
    networks:
      - app-network

  postgres:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres-data:/agentic-data-science
      - ./data/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres-data: